{% extends 'base1.html' %}

{% block title %}Dashboard FOOD DELIVERY{% endblock %}

{% block content %}

<h2 class="text-2xl font-bold mb-4">Food Items</h2>

<div class="w-full">
    <table class="w-full bg-white border border-gray-300 shadow-md rounded-lg">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="py-2 px-2 md:px-4 text-left">Company Name</th>
                <th class="py-2 px-2 md:px-4 text-left hidden md:table-cell">Job Description</th>
                <th class="py-2 px-2 md:px-4 text-left">Role </th>
                <th class="py-2 px-2 md:px-4 text-left">Sallary</th>
                <th class="py-2 px-2 md:px-4 text-left">Eligibility</th>
                <th class="py-2 px-2 md:px-4 text-left">Company Wbsite</th>
                <th class="py-2 px-2 md:px-4 text-left">Company Location</th>
                <th class="py-2 px-2 md:px-4 text-left">Last Date To applay</th>
                <th class="py-2 px-2 md:px-4 text-left">Actions</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
            {% for job in jobs %}
            <tr class="hover:bg-gray-100">
                <td class="py-2 px-2 md:px-4">{{ job.company }}</td>
                <td class="py-2 px-2 md:px-4 hidden md:table-cell">{{ job.job_description}}</td>
                <td class="py-2 px-2 md:px-4">{{ job.role}}</td>
                <td class="py-2 px-2 md:px-4">₹{{ job.salary_package }}</td>
                <td class="py-2 px-2 md:px-4 font-semibold text-green-600">{{ job.eligibility }}</td>
                <td class="py-2 px-2 md:px-4">{{ job.company_website }}</td>
                <td class="py-2 px-2 md:px-4">{{ job.job_location }}</td>
                <td class="py-2 px-2 md:px-4"> {{ job.last_date_to_apply }}</td>
                <td class="py-2 px-2 md:px-4 flex flex-wrap gap-2">
                    <a href="{% url 'update-job' job.id %}" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 text-sm">Update</a>
                    <a href="{% url 'delete-job' job.id %}" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 text-sm" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
